/*datos personales Alicia Fernández Pushkina y UO275727*/

/*especificidad (0,0,3) */
main >section > article {
    display: flex;
    font-size: 1.1em;
    justify-content: center;
    border-width: 0.15em;
    border-style: solid;
    border-color: black;

    margin: 1em;
    flex-direction: column;
    align-items: center;
    /* color heredado de body*/
    background-color: #f9f9f9;
    border-radius: 1.5em; 
    padding: 0.625em;

}

/*especificidad (0,0,1) */
input {
    margin: 0.5em 0;
    padding: 0.75em 1.25em;
    border-width: 0.2em;
    border-style: solid;
    border-color: black;
    box-sizing: border-box;
    border-radius: 1.5em; 

}