/*datos personales Alicia Fernández Pushkina y UO275727*/
/* palet SECRET ROMANCE
    sand dollar: #ebe7d0
    tangerine: #d3a550
    black: #121110
    red: #d01110

*/
/*especificidad (0,0,1) */
body {
    font-family: Verdana, Geneva, sans-serif;
    color: black;
    background-color: white;

}

body > p {
    font-size: 0.9em;
}

/*especificidad (0,0,1) */
header {
    background-color: #d01110;
    color:  #ebe7d0;
}

header a {
     /* background-color heredado de header*/
    color:  #ebe7d0;
    text-decoration: none;
}

/*especificidad (0,0,2) */
header>nav a{
    /* background-color heredado de header*/
    color: #ebe7d0;/* #B4FEE7;*/

}

header > nav > a.active {
     /* background-color heredado de header*/
    color: #990000;
    font-weight: bold;
    font-size: 1.2em;
}



    th {
        background-color: #d01110;
        color: #ebe7d0;
        font-weight: bold;
        padding: 0.5em;
    }

    tr {
        background-color: #ebe7d0;
        /*color heredado de body*/
        padding: 0.5em;
    }


dt {
    /* background-color heredado de body*/
    color: #d01110;
    font-weight: bold;
}
  

main > a {
    /* background-color heredado de header*/
    color: #d01110;
}

a:hover {
    /* background-color heredado de header*/
    color: #d3a550;
}

ul {
    list-style:  square; 
}

ol ul {
    list-style: circle;
}

ol {
    list-style: upper-roman; 
}




  