/*datos personales Alicia Fernández Pushkina y UO275727*/


/*especificidad (0,0,2) */
main>section {
  gap: 1em;
  display: flex;
  /* column-gap: 0.3em; */
  /* max-width: 53em; */
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 80%;
  /*Incluido como mejora en la prueba de usabilidad*/
}


/*especificidad (0,0,3) */
main section>h3 {
  flex: 1 100%;
  /*que el encabezado ocupe una fila */
}

/*-------------cartas------------- */

/*especificidad (0,1,2) */
article[data-state="revealed"] img,
article[data-state="flip"] img {
  transform: rotateY(0deg);
}



article {
  flex: 1 0 20%;
  width: 3em;
  height: 10em;
  transform: scale(1);
  cursor: pointer;
  transform-style: preserve-3d;
  transition: transform .5s;
}


/*especificidad (0,0,2) */
article h3,
article img {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 0.3125em;
  color: #FDF8DE;
  background: #990000;
  backface-visibility: hidden;
}

/*especificidad (0,0,2) */
article h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

/*especificidad (0,0,2) */
article img {
  /*da la vuelta a la carta para mostrar la parte trasera*/
  transform: rotateY(180deg);
}




/*dispositivos móviles*/
@media all and (max-width: 520px) {

  /*especificidad (0,0,4) */
  main>section article>h3 {
    font-size: 0.75em;
  }

  /*especificidad (0,0,2) */
  main>section {
    max-width: 100%;
  }

  main>section>article{
    height: 7em;
  }


}

/*dispositivos tablets*/
@media all and (max-width: 799px) {

  /*especificidad (0,0,2) */
  main>section {
    max-width: 100%;
    /*En los tablet el ancho vuelve a ocuparlo todo*/
  }


}