/*datos personales Alicia Fernández Pushkina y UO275727*/
/* palet SECRET ROMANCE
    sand dollar: #FCEFAB
    tangerine: #d3a550
    black: #121110
    red: #940A0A

*/
/*especificidad (0,1,2) */
main > section:first-of-type {

    width: 65%;
    height: 50%;
    margin: 5% auto auto auto;
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-template-rows: 0.5fr 1fr 0.5fr 0.5fr;
    gap: 5% 3%;
    align-items: center;
}

/*especificidad (0,1,2) */
h3, section > p:last-child {
    grid-column: 1 / -1; 
    text-align: center; 
}

/*especificidad (0,0,2) */
section > div {
    /* color-color heredado de body */
    background-color: #0007;
    border-width: 0.5em;
    border-style: solid;
    border-color: #000000;
    aspect-ratio: 1;
    border-radius: 50%;
    width: 85%;
    height: auto;
}

/* Botón de "Arrancar Semáforo" en la tercera fila, ocupando las 4 columnas */
/*especificidad (0,1,2) */
section > button:first-of-type {
    grid-row-start: 3;             /* Redefinición de grid-row-start y Redefinición de grid-row-end */
    grid-row-end: 3;
    grid-column: span 4;     
    justify-self: center;    
}

/* Botón de "Pulsa para medir reacción" en la cuarta fila, ocupando las 4 columnas */
/*especificidad (0,1,2) */
section > button:nth-of-type(2) {
    grid-row-start: 4;              /* Redefinición de grid-row-start y Redefinición de grid-row-end */
    grid-row-end: 4;
    grid-column: span 4;     
    justify-self: center;   
}





@keyframes out {
    from 
    {
        background-color: #FF0000; /* propiedad no heredable */
    } to 
    {
        background-color: #000A; /* propiedad no heredable */
    }
}

/*especificidad (0,1,3) */
main.unload > section > div {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

@keyframes turnOn {
    from 
    {
        /* color heredado de body*/
        background-color: #000A; /* Redefinición de la propiedad*/
    } to 
    {
        /* color heredado de body*/
        background-color: #FF0000; /* Redefinición de la propiedad */
    }
}
/*especificidad (0,2,3) */
main.load > section > div:first-of-type {
    animation-name: turnOn;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/*especificidad (0,2,3) */
main.load > section > div:nth-of-type(2) {
    animation-name: turnOn;
    animation-delay: 0.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

/*especificidad (0,2,3) */
main.load > section > div:nth-of-type(3) {
    animation-name: turnOn;
    animation-delay: 1s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}
/*especificidad (0,2,3) */
main.load > section > div:nth-of-type(4) {
    animation-name: turnOn;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/*especificidad (0,0,1) */
input {
    margin: 0.5em 0;
    padding: 0.75em 1.25em;
    border-width: 0.2em;
    border-style: solid;
    border-color: black;
    display: block;
    box-sizing: border-box;
}
/*especificidad (0,0,1) */
label {
    font-size: 1.5em;  
}

